.wrapper {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
}

.illustration {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.box {
    width: 300px;
    height: auto;
}