.footer {
    background: var(--color-footer);
    color: var(--text-on-brand);
    padding: 4rem 0 2rem;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.footer-section {
    flex: 1;
}

.footer-section-middel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.footer-section h3 {
    color: var(--text-on-brand);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.footer-contact {
    text-align: right;
}

.footer-bottom-logo {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
    color: var(--color-footer-logo);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-contact {
        text-align: left;
    }
}