.feature-card {
  color: var(--color-text-light);
  background: var(--color-primary-20);
  padding: 2rem;
  border-radius: var(--radius-md);
  font-size: 1.1rem;
  line-height: 1.6;
  backdrop-filter: blur(10px);
  box-shadow:
    0 6px 12px var(--color-primary-20),
    inset 1px -1px 0 rgba(0, 0, 0, 0.2),
    inset -1px 1px 2px 1px var(--color-primary-25);
}